/*Estilo de letra*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400;1,500;1,600&display=swap');

/*Paleta de colores*/
$colorUno: #994D25;
$colorDos: #FFA575;
$colorTres: #E38552;
$colorCuatro: #189692;
$colorCinco: #7CE6E2;
$white: white;
$bootstrap:#6e3ff3;
$html:#ff3e20;
$javas:#f5d961;

/*Tamaños de letra*/
$titulos: 2em;
$subtitulos: 1.5em;
$textos: 1.3em;
$subtextos: 0.5em;

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color:$colorCuatro;
}

.header {
    &__title{
        font-size: $textos;
        color:$white;
    }
    &__profile{
        background-color: $colorCinco;
        border-radius: 0px 100px;
        &--name{
            font-size: $titulos;
        }
        &--text{
            font-size: $textos;
        }
        &--button{
            background-color: $colorDos;
            border: none;
        }
        &--button:hover {
            background-color: $colorTres;
        }
        figure{
            width: 50%;
            img {
                width: 100%;
            }
        }
    }
}

#proyects{
    .card{
        background-color: $colorDos;
        .bg-purple{ background-color: $bootstrap;}
        .bg-orange {background-color: $html;}
        .bg-yellow {background-color: $javas;}
        &__button{
            &--deploy{
                background-image: url('../assets/deploy.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 40px;
                width: 40px;
            }
            &--repo{
                background-image: url('../assets/git.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 40px;
                width: 40px;
            }
        }
    }
}

.footer {
    background-color:  $colorCinco;
    &__button{
        &--repo{
            background-image: url('../assets/git.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 45px;
            width: 45px;
        }
        &--platzi{
            background-image: url('../assets/platzi.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 40px;
            width: 40px;
        }
        &--mail{
            background-image: url('../assets/mail.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 40px;
            width: 40px;
        }
    }
}