/*Estilo de letra*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400;1,500;1,600&display=swap');

/*Paleta de colores*/
$colorUno: #994D25;
$colorDos: #FFA575;
$colorTres: #E38552;
$colorCuatro: #189692;
$colorCinco: #7CE6E2;

/*Tamaños de letra*/
$titulos: 2em;
$subtitulos: 1.5em;
$textos: 1.3em;
$subtextos: 0.5em;

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.header {
    &__title{
        font-size: $textos;
    }
    &__profile{
        background-color: $colorCinco;
        &--name{
            font-size: $titulos;
        }
        &--text{
            font-size: $textos;
        }
        &--button{
            background-color: $colorDos;
            border: none;
        }
        &--button:hover {
            background-color: $colorTres;
        }
        img {
            width: 100%;
        }
    }
}
hr {
    position: relative;
    top: 16px;
    right: 100px;
    margin: 0px 420px;
}